@model AttendanceManagementSystem.Api.Models.EmployeeListViewModel

<table class="table">
    <thead>
        <tr>
            <th>ФИО Сотрудника</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td>@employee.FullName</td>
                <td>
                    @{
                        // tekushiy data parametrlari
                        var currentYear = DateTime.Now.Year;
                        var currentMonth = DateTime.Now.Month;
                    }

                    <a asp-controller="AdminAttendance"
                       asp-action="ViewCalendar"
                       asp-route-username="@employee.FullName"
                       asp-route-year="@currentYear"
                       asp-route-month="@currentMonth"
                       class="btn btn-info btn-sm">
                        <i class="fas fa-calendar-alt"></i> Просмотр табеля
                    </a>
      
                </td>
                <td>
    @{
        // Confirm matni
        var confirmMessage = $"ВНИМАНИЕ! Вы действительно хотите деактивировать сотрудника {employee.FullName}? Он будет удален из списка и не сможет войти в систему.";
    }

    <a asp-controller="AdminAttendance"
       asp-action="Inactivate"
       asp-route-username="@employee.FullName"
       onclick="return confirm('@confirmMessage')" 
       class="btn btn-danger btn-sm"
       title="Деактивация сотрудника">
        <i class="fas fa-user-slash"></i> Inactive
    </a>
</td>
            </tr>
        }
    </tbody>
</table>